<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
 <connectionStrings>  
      <clear />  
      <add name="LocalDB"   
          providerName="System.Data.SqlClient"
          connectionString="server=localhost\sqlexpress;database=StillStats;Integrated Security=SSPI;" />  
    </connectionStrings>
  <appSettings>
    <!--Subtract 7 from the value below to determine the actual pin number on the arduino-->
    <add key="InvertPinPolarity" value="True"/>
    <add key="fvemptyswitch" value="53"/>
    <add key="fvcompleteswitch" value="52"/>
    <add key="stillfluidpump" value="22"/>
    <add key="stillfillvalve" value="23"/>
    <add key="stilllowswitch" value="50"/>
    <add key="stillhighswitch" value="51"/>
    <add key="stillelement" value="27"/>
    <add key="stilldrainvalve" value="26"/>
    <add key="rvfluidpump" value="24"/>
    <add key="rvdrainvalve" value="25"/>
    <add key="rvfullswitch" value="1"/>
    <add key="vacuumpump" value="27"/>
    <add key="fanset1" value="1"/>
    <add key="fanset2" value="1"/>
    <add key="fancontroller1" value="2"/>
    <add key="fancontroller2" value="3"/>
    <add key="sensorpressure" value="55"/>
    <add key="sensorcolumntemp" value="54"/>
  </appSettings>



</configuration>

<!--ACTUAL VALUES
Digital IO Pins
private byte fvemptyswitch = 1;
private byte fvcompleteswitch = 1;
private byte stillfluidpump = 30;
private byte stillfillvalve = 7 + 21;
private byte stilllowswitch = 49;
private byte stillhighswitch = 51;
private byte stillelement = 1;
private byte stilldrainvalve = 1;
private byte rvfluidpump = 1;
private byte rvdrainvalve = 1;
private byte rvfullswitch = 1;
private byte vacuumpump = 6 + 21;
private byte fanset1 = 1;
private byte fanset2 = 1;
private byte fancontroller1 = 1;
private byte fancontroller2 = 1;

Analog IO Pins
private byte sensorpressure = 55;
private byte sensorcolumntemp = 54;-->

